<!DOCTYPE html>
<html lang="en">
{% load latexify %}

{% include "header.html" %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 6em; font-family: 'Latin Modern Roman">

    <h1 class="green" style="text-align: center">Workshop on Computability Problems</h1>
    <h2 class="blue" style="text-align: center">Venue Information</h2>
    <div style="max-width: 900px; padding: 10px; margin-bottom: 3em">
        <h1 style="font-family: 'Latin Modern Roman'; margin-top: 1em" class="green">Our Address</h1>
        <div style="font-family: 'Latin Modern Roman'">
                    <span>Al-Farabi Kazakh National University</span> <br/>
                    <span>Faculty of Mechanics and Mathematics</span> <br/>
                    <span>71 al-Farabi Ave., Almaty, Kazakhstan</span> <br/
        </div>
        <a class="dg-widget-link" href="http://2gis.kz/almaty/firm/70000001029709246/center/76.923831,43.224536/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Алматы</a><div class="dg-widget-link"><a href="http://2gis.kz/almaty/center/76.923831,43.224536/zoom/16/routeTab/rsType/bus/to/76.923831,43.224536╎Казахский национальный университет им. Аль-Фараби?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Казахский национальный университет им. Аль-Фараби</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":43.224536,"lon":76.923831,"zoom":16},"opt":{"city":"almaty"},"org":[{"id":"70000001029709246"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
        <hr/>
        <h1 style="font-family: 'Latin Modern Roman'; margin-top: 1em" class="green">Our Department</h1>
        <img src="/static/img/photo_67035.png" width="100%">
        <hr/>
        <h1 style="font-family: 'Latin Modern Roman'; margin-top: 1em" class="green">From the Astana International Hotel</h1>
        <img src="/static/img/fromhotel.png" width="100%">
        <div style="text-align: center; font-size: larger; margin-top: 1em; margin-bottom: 1em"><a href="/">Back to the main page</a></div>

    </div>

</div>

{% include "latexify/scripts.html" %}
</body>
</html>