<!DOCTYPE html>
<html lang="en">
{% load latexify %}

{% include "header.html" %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 6em; font-family: 'Latin Modern Roman">

    <h1 class="green" style="text-align: center">Workshop on Computability Problems</h1>
    <h2 class="blue" style="text-align: center">Speakers and Participants</h2>
    <div style="max-width: 900px; padding: 10px; margin-bottom: 3em">

        <h3 style="font-family: 'Latin Modern Roman'; margin-top: 1em" class="green">Invited Speakers</h3>
        <div class="row">
            <div class="col-12 col-md-6">
                <ul>
                    <li><span style="font-weight: bold">Klaus Ambos-Spies</span> <span style="font-weight: normal">(University of Heidelberg, Germany)</span>
                    </li>
                    <li><span style="font-weight: bold">Yuri L. Ershov</span> <span style="font-weight: normal">(Sobolev Institute of Mathematics, Russia)</span>
                    </li>
                    <li><span style="font-weight: bold">Sergey S. Goncharov</span> <span style="font-weight: normal">(Sobolev Institute of Mathematics, Russia)</span>
                    </li>
                    <li><span style="font-weight: bold">Alexander G. Melnikov</span> <span style="font-weight: normal">(Massey University, New Zealand)</span>
                    </li>
                </ul>

            </div>
            <div class="col-12 col-md-6">
                <ul>
                    <li><span style="font-weight: bold">Ng Keng Meng (Selwyn)</span> <span style="font-weight: normal">(Nanyang Technological University, Singapore)</span>
                    </li>
                    <li><span style="font-weight: bold">Andrea Sorbi</span> <span style="font-weight: normal">(University of Siena, Italy)</span>
                    </li>
                    <li><span style="font-weight: bold">Mars M. Yamaleev</span> <span style="font-weight: normal">(Kazan Federal University, Russia)</span>
                    </li>
                    <li><span style="font-weight: bold">Yang Yue</span> <span style="font-weight: normal">(National University of Singapore, Singapore)</span>
                    </li>
                    <li><span style="font-weight: bold">Guohua Wu</span> <span style="font-weight: normal">(Nanyang Technological University, Singapore)</span>
                    </li>

                </ul>
            </div>
        </div>
        <hr/>
        <h3 style="font-family: 'Latin Modern Roman'; " class="green">Participants</h3>
        <div class="row">
            <div class="col-12 col-md-6">
                <ul>
                    <li><span style="font-weight: bold">Serikzhan A. Badaev</span> <span style="font-weight: normal">(Al-Farabi Kazakh National University)</span>
                    </li>
                    <li><span style="font-weight: bold">Kuanysh Sh. Abeshev</span> <span style="font-weight: normal">(Almaty Management University)</span>
                    </li>
                    <li><span style="font-weight: bold">Timur I. Bakibayev</span> <span style="font-weight: normal">(Almaty Management University)</span>
                    </li>
                    <li><span style="font-weight: bold">Pernebek T. Dosanbay</span> <span style="font-weight: normal">(Al-Farabi Kazakh National University)</span>
                    </li>
                    <li><span style="font-weight: bold">Asylbek As. Issakhov</span> <span style="font-weight: normal">(Kazakh-British Technical University)</span>
                    </li>
                    <li><span style="font-weight: bold">Diana K. Kabylzhanova</span> <span style="font-weight: normal">(Al-Farabi Kazakh National University)</span>
                    </li>

                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul>
                    <li><span style="font-weight: bold">Birzhan S. Kalmurzayev</span> <span style="font-weight: normal">(Al-Farabi Kazakh National University)</span></li>
                    <li><span style="font-weight: bold">Nazif G. Khisamiev</span> <span style="font-weight: normal">(L.N.Gumilyov Eurasian National University)</span>
                    </li>
                    <li><span style="font-weight: bold">Mikhail G. Peretyat’kin</span> <span
                            style="font-weight: normal">(Institute of Mathematics and Mathematical Modeling)</span></li>
                    <li><span style="font-weight: bold">Zhuldyz T. Talasbaeva</span> <span style="font-weight: normal">(Al-Farabi Kazakh National University)</span>
                    </li>
                    <li><span style="font-weight: bold">Zhamalbek A. Tussupov</span> <span style="font-weight: normal">(L.N. Gumilyov Eurasian National University)</span>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: center; font-size: larger"><a href="/">Back to the main page</a></div>

    </div>

</div>

{% include "latexify/scripts.html" %}
</body>
</html>