<!DOCTYPE html>
<html lang="en">
{% load latexify %}

{% include "header.html" %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 6em; font-family: 'Latin Modern Roman">

    <h1 class="green" style="text-align: center">Workshop on Computability Problems</h1>
    <h2 class="blue" style="text-align: center">August 2 - 9, 2018, Almaty, Kazakhstan</h2>
    <div style="max-width: 900px; padding: 10px; margin-bottom: 3em">
        <img src="/static/img/kazgu.jpg" width="100%"/>

        <h4 style="margin-top: 1em; margin-bottom: 1em">
            The Workshop on Computability Problems is organized and hosted by Faculty of Mechanics and Mathematics at <a
                href="http://www.kaznu.kz/en">Al-Farabi Kazakh National University</a>. It will be held at the University from August 2 to August 9, 2018.
        </h4>
        <hr/>

        <h4 style="margin-top: 1em; margin-bottom: 1em">
            <h4>The <a href="/workshop/program">program of the Workshop</a> consists of 50-minutes plenary talks and
                research in groups. <a href="/workshop/participants"> Participants:</a> there are 9 invited speakers more than 20 researches from
                Kazakhstan, and students.
            </h4>
            <h4>
                It is expected that the main outcome of the Wokshop will be a list of <a href="/problems">open problems</a> suggested by the speakers.
            </h4>
        </h4>

        <hr/>
        <h3 style="font-family: 'Latin Modern Roman';" class="green">Submissions</h3>
        <h4>
            Abstracts of plenary talks must be submitted as tex-files.
        </h4>
        <h4>
            The deadline for the abstract submission is July 15, 2018.
            Files with problems may be submitted after discussion during
            the workshop.
        </h4>

        <hr/>
        <h3 style="font-family: 'Latin Modern Roman';" class="green">Location and venue</h3>
        <h4>
            The conference will take place in Almaty at Mechanics and Mathematics
            Faculty, in the campus of Al-Farabi Kazakh National University.
            <a href="/workshop/venue">More details and maps</a>
        </h4>

        <hr/>
        <h3 style="font-family: 'Latin Modern Roman';" class="green">Accommodation</h3>
        <h4>
            The invited speakers will be hosted at the
            <a href="http://www.astanainterhotel.kz/en/contacts/" target="_blank">Astana International Hotel</a>
            and completely supported by the organizers of the Workshop.
        </h4>
        <hr/>
        <h3 style="font-family: 'Latin Modern Roman';" class="green">Registration</h3>
        <h4>
            Registration started just half an hour before the openning of the
             Workshop. The students are free of the registration fee.
             For all others the registration fee is 20000 Tenge (approx. 50 Euros).
             It includes coffee breaks, transportation,
             support of the workshop domain, and workshop materials.
        </h4>

        <hr/>

        <h3 style="font-family: 'Latin Modern Roman';" class="green">Contacts</h3>
        <h4>The programme chair is academician <a href="http://www.math.nsc.ru/LBRT/u2/nauka/ershov1.html">Yuri L. Ershov</a>.</h4>
        <hr/>
        <h4>
            The chair of the <a href="/workshop/orgcom">Organizing Committee</a> is Serikzhan Badaev.
        </h4>
        <h4>
            Enquiries on scientific matters should be sent to the members of the <a href="/workshop/orgcom">Organizing Committee</a>
            Timur Bakibayev or Kuanysh Abeshev.
        </h4>

        <hr/>
        <h3 style="font-family: 'Latin Modern Roman';" class="green">Social programme</h3>
        <h4>
            Thursday, August 2, 18:00–20:00: Welcome party at summer terraсe in the
            <a href="https://2gis.kz/almaty/query/%D0%B1%D0%B0%D0%B9%D1%82%D0%B5%D1%80%D0%B5%D0%BA%20%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD/firm/70000001021417993?queryState=center%2F76.866145%2C43.157328%2Fzoom%2F15"
            target="_blank">Restaurant Baiterek</a> in a village close to mountains.
        </h4>
        <hr/>
        <h4>
            Saturday, August 4, two alternatives:
            <h4>
                <a href="http://www.kazakhstandiscovery.com/almaty-kazakhstan.html" target="_blank">Guided citeseeing of Almaty</a>, 14:00 – 17:00.
                Price: XXX Tenge/person.
                Departs from a square close to the Astana International Hotel.
            </h4>
            <h4>
                Trip to <a href="http://www.kazakhstandiscovery.com/big-almaty-lake.html" target="_blank">Big Almaty Lake</a> by tourist bus,
                14:00 - 18:00. Height above sea level 2511 m. Light meal (snacks) included. Departs from the Astana International Hotel.
                A possible stop to eat fresh trout on the way back.
            </h4>
        </h4>
        <hr/>
        <h4>
            Sunday, August 5, 10:00–19:00: Trip to the Medeo Skating Ring and Shymbulak Ski Resort.
            Departs from the Astana International Hotel to the
            <a href="http://www.kazakhstandiscovery.com/medeo.html" target="_blank">Medeo Skating Ring</a>.
            Photosession at Medeo. Then by cableway to the Talgar Pass with two stops.
            The first stop at the <a href="https://www.shymbulak.com/en/" target="_blank">Shymbulak Ski Resort</a>
             (height above sea level 2260 m, average summer temperature +20С). Break for lunch at Shymbulak.
            Three options after lunch: walking around Shymbulak Ski Resort; hiking towards the Talgar Pass;
            take cableway to get the Talgar Pass (height above sea level 3163 m). Prices for round trip:
            Medeo-Shymbulak 2500 Tenge/person, Medeo-Talgar Pass 3500 Tenge/person.
            Departure back from Medeo by bus at 16:30.
        </h4>
        <hr/>
        <h4>
            Sunday, August 5, 19:00–22:00: Conference dinner at the
            <a href="https://www.tripadvisor.com/Restaurant_Review-g298251-d10804376-Reviews-Loft_Cafe-Almaty.html">LOFT Cafe</a>
            in a walking distance from the Astana International Hotel.
        </h4>

        <hr/>
        <h3 style="font-family: 'Latin Modern Roman';" class="green">Sponsors</h3>
        <h4>
            Al-Farabi Kazakh National University, Faculty of Mechanics and Mathematics.
        </h4>
        <h4>
            Nar Oil LTD
        </h4>

        <hr/>
        <h3 style="font-family: 'Latin Modern Roman';" class="green">Miscellaneous (coming soon)</h3>
        <h4>
            Wi-Fi
        </h4>
        <h4>
            Buses
        </h4>
        <h4>
            Taxi
        </h4>
        <h4>
            Currency
        </h4>
        <h4>
            Cafe, restaurants
        </h4>
        <h4>
            Tourist Info
        </h4>




        {#            <div class="col-12 col-md-12">#}
        {#                <ul>#}
        {#                    <li><span style="font-weight: bold">Serikzhan A. Badaev</span> <span style="font-weight: normal">(Chair, Al-Farabi Kazakh NU)</span>#}
        {#                        <a href="mailto: sbadaev@gmail.com">sbadaev@gmail.com</a>#}
        {#                        <a href="tel: +77017942271">+7 (701) 794 22 71</a>#}
        {#                    </li>#}
        {#                    <li><span style="font-weight: bold">Kuanysh Sh. Abeshev</span> <span style="font-weight: normal">(Almaty Management University)</span>#}
        {#                        <a href="mailto: kuanqk@gmail.com">kuanqk@gmail.com</a>#}
        {#                        <a href="tel: +77789711555">+7 (778) 971 15 55</a>#}
        {#                    </li>#}
        {#                    <li><span style="font-weight: bold">Timur I. Bakibayev</span> <span style="font-weight: normal">(Almaty Management University)</span>#}
        {#                        <a href="mailto: timurbakibayev@gmail.com">timurbakibayev@gmail.com</a>#}
        {#                        <a href="tel: +77788620140">+7 (778) 682 01 40</a>#}
        {#                    </li>#}
        {#                    <li><span style="font-weight: bold">Asylbek As. Issakhov</span> <span style="font-weight: normal">(Kazakh-British Technical University)</span>#}
        {#                        <a href="mailto: asylissakhov@gmail.com">asylissakhov@gmail.com</a>#}
        {#                        <a href="tel: +77076108099">+7 (707) 610 80 99</a>#}
        {#                    </li>#}
        {#                    <li><span style="font-weight: bold">Birzhan S. Kalmurzayev</span> <span style="font-weight: normal">(Al-Farabi Kazakh NU)</span>#}
        {#                        <a href="mailto: birzhan_mm@mail.ru">birzhan_mm@mail.ru</a>#}
        {#                        <a href="tel: +77025888852">+7 (702) 588 88 52</a>#}
        {#                    </li>#}
        {#                </ul>#}
        {#            </div>#}

    </div>

</div>

{% include "latexify/scripts.html" %}
</body>
</html>