<!DOCTYPE html>
<html lang="en">
{% load latexify %}

{% include "header.html" %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 6em; font-family: 'Latin Modern Roman">

    <h1 class="green" style="text-align: center">Workshop on Computability Problems</h1>
    <h2 class="blue" style="text-align: center">Organizing Committee</h2>
    <div style="max-width: 900px; padding: 10px; margin-bottom: 3em">
        <div class="col-12 col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span style="font-weight: bold">Serikzhan A. Badaev</span> <span style="font-weight: normal">(Chair, Al-Farabi Kazakh National University)</span></td>
                        <td><a href="mailto: sbadaev@gmail.com">sbadaev@gmail.com</a></td>
                        <td><a href="tel: +77017942271">+7 (701) 794 22 71</a></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold">Kuanysh Sh. Abeshev</span> <span style="font-weight: normal">(Almaty Management University)</span></td>
                        <td><a href="mailto: kuanqk@gmail.com">kuanqk@gmail.com</a></td>
                        <td><a href="tel: +77789711555">+7 (778) 971 15 55</a></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold">Timur I. Bakibayev</span> <span style="font-weight: normal">(Almaty Management University)</span></td>
                        <td><a href="mailto: timurbakibayev@gmail.com">timurbakibayev@gmail.com</a></td>
                        <td><a href="tel: +77788620140">+7 (778) 682 01 40</a></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold">Asylbek As. Issakhov</span> <span style="font-weight: normal">(Kazakh-British Technical University)</span></td>
                        <td><a href="mailto: asylissakhov@gmail.com">asylissakhov@gmail.com</a></td>
                        <td><a href="tel: +77076108099">+7 (707) 610 80 99</a></td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold">Birzhan S. Kalmurzayev</span> <span style="font-weight: normal">(Al-Farabi Kazakh National University)</span></td>
                        <td><a href="mailto: birzhan_mm@mail.ru">birzhan_mm@mail.ru</a></td>
                        <td><a href="tel: +77025888852">+7 (702) 588 88 52</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center; font-size: larger"><a href="/">Back to the main page</a></div>
    </div>

</div>

{% include "latexify/scripts.html" %}
</body>
</html>