<!DOCTYPE html>
<html lang="en">
{% load latexify %}

{% include "header.html" %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 5em">
    <h1>{{ title }}</h1>
    {% for problem in problems %}
        <div class="shadow card"
             style="margin-left: 5%; margin-right: 5%; margin-top: 10px; margin-bottom: 20px; width: 900px;">
            <div class="card-body">
                <h2 class="card-title"
                    style="margin-left: 10%; margin-right: 10%; margin-top: 1em; text-align: center; font-family: latex; font-weight: bold">{% latexify problem.title parse_math=True %}</h2>
                <p class="card-title" style="text-align: center; font-family: latex">{{ problem.created }}</p>
                <p class="card-title"
                   style="text-align: center; font-family: latex; margin-top: -10px">{{ problem.authors }}</p>
                <p class="card-text"
                   style="margin-left: 10%; margin-right: 10%; margin-bottom: 1em; text-align: justify">{% latexify problem.abstract parse_math=True %}</p>
                {#            <p class="card-text">{% latexify problem.text parse_math=True %}</p>#}
            </div>
        </div>
    {% endfor %}
</div>

{% include "latexify/scripts.html" %}
</body>
</html>